@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');


:root { 
  --peach: #ffad69;
  --white: #ffffff;
  --black: #000;
  --grey : #D3D3D3;
  --facebook: #3b5999;
  --twitter: #55acee;
  --instagram: #e4405f;
  --apple: #131418;
  
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: gradient 7.5s ease infinite;
  text-align: center;
  align-content: center;
  color:#fff;
  font-family: 'Exo 2', sans-serif;
  /* overflow: hidden; */
}

* { margin: 0; 
    padding: 0;
    color:#fff; 
    text-decoration: none;
    box-sizing: border-box;
  }

.div-first {
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
  justify-content: center;

}

.div-first ul {
  position: absolute;
  top: 75%;
  left: 50%;
  transform:translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}



.div-first ul li {
  list-style: none;
  margin: 0 4vw;
}

.div-first ul li a .fab{
  font-size: 4vw;
   color: black;
   line-height: 9vw;
   transition: .5s;
}

.div-first ul li a {
  position: relative;
   display: block;
   width: 8vw;
   height: 8vw;
   background: #dd8c8c;
   text-align: center;
   transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
   transition: .5s;
   box-shadow: -30px 30px 10px rgba(0,0,0,.5);
}

.div-first ul li a:before {
  content: '';
  position: absolute;
  top: 10px ;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #93a092;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.div-first ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px ;
  left: -10px;
  height: 20px;
  width: 100%;
  background: var(--grey);
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.div-first ul li a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}
.div-first ul li:hover .fab{
  color:white;
}


.div-first ul li:hover:nth-child(1) a {
  background: var(--facebook);
}

.div-first ul li:hover:nth-child(1) a:before {
  background: #5E77AB;
}

.div-first ul li:hover:nth-child(1) a:after {
  background: #4C68A2;
}

.div-first ul li:hover:nth-child(3) a {
  background: var(--twitter);
}

.div-first ul li:hover:nth-child(3) a:before {
  background: #64B2EE;
}

.div-first ul li:hover:nth-child(3) a:after{
  background: #73BAF0;
}


.div-first ul li:hover:nth-child(2) a {
  background: var(--instagram);
}

.div-first ul li:hover:nth-child(2) a:before {
  background: #E4506B;
}

.div-first ul li:hover:nth-child(2) a:after{
  background: #E7617A;
}

.div-first ul li:hover:nth-child(4) a {
  background: var(--apple);
}

.div-first ul li:hover:nth-child(4) a:before {
  background: #171717;
}

.div-first ul li:hover:nth-child(4) a:after{
  background: #2E2E2E;
}


.div-second {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(35, 36, 34,0);
  text-align: center;
  align-content: center;
  align-items: center;
}

.div-third {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(35, 36, 34,0);
  text-align: center;
  align-content: center;
  align-items: center;
}

#div-first {
  position: relative;
  padding-top: 45vh;
  align-content: center;
}

.cursor {
	border: 0.08em solid #000;
}

#head123 {
	display: none;
}

#head1234 {
	display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.div-second img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 8px solid #fff;
  position: relative;
  margin: 2%;
}

.summary {
  width: 70%;
  margin-right: 3%;
  text-align: justify;
}

.summary-social{
  display: inline-flex;
  flex-wrap: wrap;
  margin: 2%;
  width: 46%;
  word-break: break-all;
	word-wrap: break-word;
}

#summary-socail-ul1 {
	widows: 100%;
}

#summary-social-ul1 li{
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: justify;
}

#summary-social-ul2 li{
  margin-top: 6%;
  text-align: justify;
  margin-bottom: 6%;
}

.profile-container {
  width: 100%;
  display: inline-block;
  height: 100vh;
  position: relative;
  align-items: center;
  background-color: rgb(35, 36, 34);
  background-image: url(../media/ripple.svg) ;
}

#work-experience {
  width: 50%;
  height: 100%;
}

#work-experience li {
  margin: 4%;
}

#skills {
  width: 50%;
  height: 100%;
}

#rocket {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: -1;
  width: 300px;
  height: 300px;
  background-size: 300px;
  background-image: url("../media/rocket.svg");
	background-position: left;
}

.work-container {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  align-items: center;
  background-color: #141414;
/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbf00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd624' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe038' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffeb49' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff558' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
*/
background-image: url("../media/speedline.svg");
background-size: cover;
z-index: 4;
}

#fourth-container {
  width: 100%;
  display: inline-block;
  height: 100%;
  position: relative;
  align-items: center;
  background: linear-gradient(#75d6ff, #00b4ff);
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca481d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
*/}
.profile {
  padding: 2%;
  display: inline-flex;
  align-items: flex-start;
  flex-flow: wrap;
}

.work {
  padding: 2%;
  display: inline-flex;
  align-items: flex-start;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
}


.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  bottom: 5%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 1.5px #ffffff solid;
  border-bottom: 1.5px #ffffff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(-5px, -5px);
  }
}


@keyframes circle-rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

#skills ul {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
}

#skills-list {
  display: inline-flex;
  flex-wrap: wrap;
}

#skills-list div {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px rgb(233, 35, 35);
  border-radius: 5px;
  padding: 1%;
  margin: 3%;
  color: black;
  animation: shake 0.52s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(0.4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

#skills li {
  background-color: #71EEB8;
  border-radius: 10px;
  width: 100%
}

#arrow-second {
  bottom: -95%;
}

#arrow-third {
  bottom: -197%;
  z-index: 5;
}

.div-fourth {
  height: 100%;
  display: flex;
  width: 100%;
  overflow: hidden;
}

#arrow-fourth {
  bottom: -295%;
  z-index: 60;
}

#arrow-fifth {
  bottom: -395%;
  z-index: 60;
}

#arrow-sixth{
  z-index: 20;
  rotate: 180deg;
  bottom: 0;
}

#arrow-div-sixth {
  transform: rotate(180deg);
  bottom: -495%;
  position: absolute;
  left: 75%;
}

.about {
  top: 0;
  position: relative;
}

.div-sixth {
  width: 100%;
  height: 100%;
  background-color: rgb(7, 7, 7);
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


#background-wrap {
  bottom: -200%;
left: 0;
width: 100%;
height: 100%;
position: absolute;
right: 0;
top: 0;
z-index: 1;
}

#education {
  height: 100%;
  width: 50%;
  position: relative;
  padding-left: 4%;
  padding-right: 4%;
}

#languages {
  height: 100%;
  position: relative;
  width: 50%;
  right: -50%;
  top: -100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#languages-names {
  width: 100%;
  height: 50%;
}

#interests {
  width: 100%;
  height: 50%;
}

.interests{
  display: flex;
  flex-wrap: wrap;
}

.interests div{
  background-color: #fff;
  padding: 1%;
  border-radius: 5px;
  color: black;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.727);
  margin: 3%;
}

.div-fifth {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../media/firework.svg");
  background-size: 70%;
}

#work-sample {
  display: inline-block;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
-webkit-animation: animateCloud 35s linear infinite;
-moz-animation: animateCloud 35s linear infinite;
animation: animateCloud 35s linear infinite;

-webkit-transform: scale(0.65);
-moz-transform: scale(0.65);
transform: scale(0.65);
}

.x2 {
-webkit-animation: animateCloud 20s linear infinite;
-moz-animation: animateCloud 20s linear infinite;
animation: animateCloud 20s linear infinite;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x3 {
-webkit-animation: animateCloud 30s linear infinite;
-moz-animation: animateCloud 30s linear infinite;
animation: animateCloud 30s linear infinite;

-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
transform: scale(0.5);
}

.x4 {
-webkit-animation: animateCloud 18s linear infinite;
-moz-animation: animateCloud 18s linear infinite;
animation: animateCloud 18s linear infinite;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x5 {
-webkit-animation: animateCloud 25s linear infinite;
-moz-animation: animateCloud 25s linear infinite;
animation: animateCloud 25s linear infinite;

-webkit-transform: scale(0.55);
-moz-transform: scale(0.55);
transform: scale(0.55);
}

.x6 {
  -webkit-animation: animateCloud 10s linear infinite;
  -moz-animation: animateCloud 10s linear infinite;
  animation: animateCloud 10s linear infinite;
  
  -webkit-transform: scale(0.20);
  -moz-transform: scale(0.20);
  transform: scale(0.20);
  }

  .x7 {
    -webkit-animation: animateCloud 15s linear infinite;
    -moz-animation: animateCloud 15s linear infinite;
    animation: animateCloud 15s linear infinite;
    
    -webkit-transform: scale(0.45);
    -moz-transform: scale(0.45);
    transform: scale(0.45);
    }

/* OBJECTS */

.cloud {
background: #fff;
background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

height: 120px;
position: relative;
width: 350px;
z-index: 1;
}

.cloud:after, .cloud:before {
  background: #fff;
content: '';
position: absolute;
z-indeX: 1;
}

.cloud:after {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

height: 100px;
left: 50px;
top: -50px;
width: 100px;
}

.cloud:before {
-webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;

width: 180px;
height: 180px;
right: 50px;
top: -90px;
}