@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Bree+Serif&family=Open+Sans:ital@0;1&display=swap");
@import "./vars";

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body {
    background: var(--bgColor);
    color: var(--textColor);
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);
    background-image: radial-gradient(circle 848px at 3.8% 67.2%, rgb(17, 17, 17) 0%, rgba(16, 20, 18, 1) 90.1%);
}

.next-container {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

p,
a {
    font-family: "Open Sans", sans-serif;
}

:root {
    --textColor: #fffefe;
    --bgColor: linear-gradient(165deg, #595a6c, #2b2b35);
}

@media (prefers-color-scheme: light) {
    :root {
        // --textColor: #2b2b35;
        // --bgColor: rgb(241, 232, 232);
    }
}
